@model Kurs
<p>
   <b> @Model.Baslik </b> isimli kursu silmek istiyor musunuz?
    <form asp-action="Delete" asp-controller="Kurs" method="post">
        <input type="hidden"  name="id" value="@Model.KursId">
        <button type="submit" class="btn btn-danger">Evet</button>
        <a asp-action="Index" asp-controller="Kurs" class="btn btn-primary">Hayır</a>
    </form>
</p>