@model Ogretmen
<h2>Öğrenci Listesi</h2>
<hr>
<form asp-controller="Ogretmen" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Ad" class="form-label">Öğretmen Adı</label>
        <input asp-for="Ad" class="form-control">
       
        <label asp-for="Soyad" class="form-label">Öğretmen Soyadı</label>
        <input asp-for="Soyad" class="form-control">
       
        <label asp-for="Eposta" class="form-label">E-posta</label>
        <input asp-for="Eposta" class="form-control">
        
        <label asp-for="Telefon" class="form-label">Telefon</label>
        <input asp-for="Telefon" class="form-control">

        <label asp-for="BaslamaTarihi" class="form-label">Baslama Tarihi</label>
        <input asp-for="BaslamaTarihi" class="form-control">
        <button type="submit" class="btn btn-secondary">Kaydet</button>
    </div>
</form>